body {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: black;
    background-image: url("achieveimg/lfc_checkered.webp");
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 58px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 36px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    font-size: 24px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: red;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

nav {
    background-color: #a31d14;
    width: 100%;
  }
  
  .navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
    font-size: 18px;
  }
  
  .navbar a:hover {
    background-color: #e83c3c;
    transition-duration: 1s;
  }
  

.banner {
    text-align: center;
    width: 100%;
}

.summary {
    text-align: center;
    color: white;
    background-color: #a31d14;
    width: 100%;
}

.league {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 1000px;
    height: 650px;
    margin-top: 40px;
    border-radius: 5%;
}

.leaguetext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.leagueimg {
    margin-left: 30px;
}

.leagueimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.ucl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 1000px;
    height: 900px;
    margin-top: 40px;
    border-radius: 5%;
}

.ucltext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.uclimg {
    margin-left: 30px;
}

.uclimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cwc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 1000px;
    height: 650px;
    margin-top: 40px;
    border-radius: 5%;
}

.cwctext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.cwcimg {
    margin-left: 30px;
}

.cwcimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 1000px;
    height: 650px;
    margin-top: 40px;
    border-radius: 5%;
}

.fatext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.faimg {
    margin-left: 30px;
}

.faimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.lc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 1000px;
    height: 650px;
    margin-top: 40px;
    border-radius: 5%;
}

.lctext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.lcimg {
    margin-left: 30px;
}

.lcimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.uc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 1000px;
    height: 650px;
    margin-top: 40px;
    border-radius: 5%;
}

.uctext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.ucimg {
    margin-left: 30px;
}

.ucimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.usc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 1000px;
    height: 650px;
    margin-top: 40px;
    border-radius: 5%;
}

.usctext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.uscimg {
    margin-left: 30px;
}

.uscimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}