body {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: black;
    background-image: url("images/lfc_checkered.webp");
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 58px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 36px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: red;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

nav {
    background-color: #a31d14;
    width: 100%;
  }
  
  .navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
    font-size: 18px;
  }
  
  .navbar a:hover {
    background-color: #e83c3c;
    transition-duration: 1s;
  }
  

.banner {
    text-align: center;
    width: 100%;
}

.summary {
    text-align: center;
    color: white;
    background-color: #a31d14;
    width: 100%;
}

.aca {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 1000px;
    height: 700px;
    margin-top: 40px;
    border-radius: 5%;
}

.acaimg {
    margin-left: 30px;
}

.acaimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.acatext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}